<template>
	<form name="laika-donation-personal-data"
			id="laika-donation-personal-data"
			class="address-page"
			ref="personal"
			action="/donation/add"
			method="post">
		<h1 v-if="!paymentWasInitialized" class="title is-size-1">{{ $t( 'donation_form_section_headline' ) }}</h1>
		<payment-summary v-if="paymentWasInitialized"
						:amount="paymentSummary.amount"
						:payment-type="paymentSummary.paymentType"
						:interval="paymentSummary.interval"
						v-on:previous-page="previousPage">
		</payment-summary>
		<feature-toggle>
			<provisional-choice-address-fields
					slot="campaigns.address_provision_options.provisional_address_options"
					:validate-address-url="validateAddressUrl"
					:validate-email-url="validateEmailUrl"
					:validate-bank-data-url="validateBankDataUrl"
					:validate-legacy-bank-data-url="validateLegacyBankDataUrl"
					:countries="countries"
					:is-direct-debit="isDirectDebit"
					:address-validation-patterns="addressValidationPatterns"
					ref="address">
			</provisional-choice-address-fields>
			<address-fields
					slot="campaigns.address_provision_options.old_address_type_options"
					:validate-address-url="validateAddressUrl"
					:validate-email-url="validateEmailUrl"
					:validate-bank-data-url="validateBankDataUrl"
					:validate-legacy-bank-data-url="validateLegacyBankDataUrl"
					:countries="countries"
					:is-direct-debit="isDirectDebit"
					:address-validation-patterns="addressValidationPatterns"
					ref="address">
			</address-fields>
		</feature-toggle>
			<div class="summary-wrapper has-margin-top-18 has-outside-border">
				<donation-summary
					:payment="paymentSummary"
					:address-type="addressType"
					:address="addressSummary"
					:countries="countries"
					:language-item="inlineSummaryLanguageItem"
				/>

				<trust :assets-path="assetsPath" />
				<submit-values :tracking-data="{}"></submit-values>
				<div class="columns payment-buttons">
					<div class="column">
						<b-button id="previous-btn" class="level-item"
								@click="previousPage"
								type="is-primary is-main"
								outlined>
							{{ $t('donation_form_section_back') }}
						</b-button>
					</div>
					<div class="column">
						<b-button id="submit-btn" :class="[ $store.getters.isValidating ? 'is-loading' : '', 'level-item' ]"
								@click="submit"
								type="is-primary is-main">
							{{ $t('donation_form_finalize') }}
						</b-button>
					</div>
				</div>
				<div class="summary-notice" v-if="isExternalPayment">{{ $t('donation_form_summary_external_payment') }}</div>
				<div class="summary-notice" v-if="isBankTransferPayment">{{ $t('donation_form_summary_bank_transfer_payment') }}</div>
		</div>
	</form>
</template>

<script lang="ts">
import Vue from 'vue';
import { AddressTypeModel, addressTypeName } from '@/view_models/AddressTypeModel';
import { NS_ADDRESS, NS_BANKDATA, NS_PAYMENT } from '@/store/namespaces';
import AddressFields from '@/components/pages/donation_form/Address.vue';
import ProvisionalChoiceAddressFields from '@/components/pages/donation_form/ProvisionalChoiceAddress.vue';
import SubmitValues from '@/components/pages/donation_form/SubmitValues.vue';
import PaymentSummary from '@/components/pages/donation_form/PaymentSummary.vue';
import DonationSummary from '@/components/shared/DonationSummary.vue';
import Trust from '@/components/shared/Trust.vue';
import { TrackingData } from '@/view_models/SubmitValues';
import { AddressValidation } from '@/view_models/Validation';
import { Country } from '@/view_models/Country';
import { action } from '@/store/util';
import { markEmptyValuesAsInvalid } from '@/store/bankdata/actionTypes';
import { waitForServerValidationToFinish } from '@/wait_for_server_validation';
import { discardInitialization } from '@/store/payment/actionTypes';
import { trackFormSubmission } from '@/tracking';

export default Vue.extend( {
	name: 'AddressPage',
	components: {
		AddressFields,
		ProvisionalChoiceAddressFields,
		SubmitValues,
		PaymentSummary,
		DonationSummary,
		Trust,
	},
	props: {
		assetsPath: String,
		validateAddressUrl: String,
		validateEmailUrl: String,
		validateBankDataUrl: String,
		validateLegacyBankDataUrl: String,
		countries: Array as () => Array<Country>,
		trackingData: Object as () => TrackingData,
		addressValidationPatterns: Object as () => AddressValidation,
	},
	computed: {
		paymentSummary: {
			get(): object {
				const payment = this.$store.state[ NS_PAYMENT ].values;
				return {
					interval: payment.interval,
					amount: payment.amount / 100,
					paymentType: payment.type,
				};
			},
		},
		addressType: {
			get(): string {
				return addressTypeName( this.$store.state[ NS_ADDRESS ].addressType );
			},
		},
		addressSummary: {
			get(): object {
				return {
					...this.$store.state[ NS_ADDRESS ].values,
					fullName: this.$store.getters[ NS_ADDRESS + '/fullName' ],
					streetAddress: this.$store.state[ NS_ADDRESS ].values.street,
					postalCode: this.$store.state[ NS_ADDRESS ].values.postcode,
					country: this.$store.state[ NS_ADDRESS ].values.country,
				};
			},
		},
		isExternalPayment: {
			get(): boolean {
				return this.$store.getters[ NS_PAYMENT + '/isExternalPayment' ];
			},
		},
		isBankTransferPayment: {
			get(): boolean {
				return this.$store.getters[ NS_PAYMENT + '/isBankTransferPayment' ];
			},
		},
		paymentWasInitialized: {
			get(): boolean {
				return this.$store.state[ NS_PAYMENT ].initialized;
			},
		},
		isDirectDebit: {
			get: function (): boolean {
				return this.$store.getters[ 'payment/isDirectDebitPayment' ];
			},
		},
		inlineSummaryLanguageItem(): string {
			switch ( this.$store.state[ NS_ADDRESS ].addressType ) {
				case AddressTypeModel.ANON:
				case AddressTypeModel.UNSET:
					return 'donation_confirmation_inline_summary_anonymous';
				case AddressTypeModel.EMAIL:
					return 'donation_confirmation_inline_summary_email';
				case AddressTypeModel.COMPANY:
				case AddressTypeModel.PERSON:
				default:
					return 'donation_confirmation_inline_summary_address';
			}
		},
	},
	methods: {
		previousPage() {
			this.$store.dispatch( action( NS_PAYMENT, discardInitialization ) );
			this.$emit( 'previous-page' );
		},
		submit() {
			const validationCalls = [
				( this.$refs.address as any ).validateForm(),
			];
			if ( this.$store.getters[ NS_PAYMENT + '/isDirectDebitPayment' ] ) {
				validationCalls.push( this.$store.dispatch( action( NS_BANKDATA, markEmptyValuesAsInvalid ) ) );
			}
			Promise.all( validationCalls ).then( () => {
				// We need to wait for the asynchronous bank data validation, that might still be going on
				waitForServerValidationToFinish( this.$store ).then( () => {
					if ( this.$store.getters[ NS_ADDRESS + '/requiredFieldsAreValid' ] ) {
						if ( this.$store.getters[ NS_PAYMENT + '/isDirectDebitPayment' ] &&
							!this.$store.getters[ NS_BANKDATA + '/bankDataIsValid' ] ) {
							document.getElementsByClassName( 'help is-danger' )[ 0 ].scrollIntoView( { behavior: 'smooth', block: 'center', inline: 'nearest' } );
							return;
						}
						( this as any ).submitDonationForm();
					} else {
						document.getElementsByClassName( 'help is-danger' )[ 0 ].scrollIntoView( { behavior: 'smooth', block: 'center', inline: 'nearest' } );
					}
				} );
			} );
		},
		submitDonationForm(): void {
			const formPersonal = this.$refs.personal as HTMLFormElement;
			trackFormSubmission( formPersonal );
			formPersonal.submit();
		},
	},
} );
</script>
