$cookie-notice-padding: 32px;

.cookie-notice {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 99;

	display: flex;
	justify-content: center;
	align-items: center;

	h3 {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 10px;

		@include from( $desktop ) {
			font-size: 24px;
			line-height: 36px;
		}
	}
	p {
		font-size: 14px;
		line-height: 18px;
	}
	&-more {
		position: relative;
		padding-left: 1.3em;
		line-height: 18px;

		&::after {
			border: 2px solid $fun-color-primary;
			border-right: 0;
			border-top: 0;
			content: ' ';
			display: block;
			margin-top: -0.4em;
			pointer-events: none;
			position: absolute;
			top: 50%;
			left: 5px;
			transform: rotate( -45deg );
			transform-origin: center;
			height: 0.6em;
			width: 0.6em;

			transition: transform 100ms, margin-top 100ms;
		}
	}
	&-show-less {
		display: none;
	}
	.open {
		.cookie-notice-more::after {
			margin-top: -0.2em;
			transform: rotate( 135deg );
		}
		.cookie-notice-show-more {
			display: none;
		}
		.cookie-notice-show-less {
			display: inline;
		}
	}
	&-content {
		display: flex;
		flex-direction: column;
		max-width: 640px;
		margin: 0 6px;
		bottom: 0;
		left: 0;
		background: $fun-color-bright;
		padding: $cookie-notice-padding;
		box-shadow: 0 -10px 30px rgba( 0, 0, 0, 0.1 );
		z-index: 10;
		max-height: 100%;
		overflow-y: auto;
	}

	&-info {
		position: relative;
		flex-grow: 1;
		flex-shrink: 1;
		margin-bottom: 10px;
	}

	&-text-copy {
		position: relative;
	}

	.cookie-notice-more {
		display: none;
	}

	&-accordion {
		border: 1px solid $fun-color-gray-mid;
		overflow-y: auto;

		ul {
			padding: 10px;
		}

		li {
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $fun-color-gray-mid;
			padding-left: 6px;

			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	&-buttons {
		display: flex;
		align-items: flex-end;
	}

	&-button {
		width: 50%;

		&.accept {
			padding-left: 16px;
		}

		&.check {
			padding-right: 16px;
		}

		.button.is-main {
			width: 100%;
		}
	}
}

.cookie-checkbox {
	position: relative;

	.b-checkbox.checkbox[disabled] {
		opacity: 1;
		color: $fun-color-dark;
	}

	&-heading {
		display: block;
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 6px;
	}

	&-content {
		position: relative;
		display: block;
		font-size: 14px;
		line-height: 18px;
	}

	&.open .cookie-checkbox-content {
		max-height: 1000px;
	}
}
