.cookie-review {
	fieldset {
		border: 1px solid $fun-color-gray-mid;
		padding: 0 17px;
		margin: 0 -17px 17px;
	}

	.cookie-list {
		padding-left: 0;
		margin: 0;
		list-style-type: none;
		li {
			padding: 17px 0;

			&:first-child {
				border-bottom: 1px solid $fun-color-gray-mid;
			}
		}
	}

	&-buttons {
		display: flex;
		margin: 0 -17px;
	}

	&-button {
		flex-grow: 1;
	}

	&-button button.is-main {
		width: 100%;
	}

	&-button.save {
		margin-right: 5px;
	}

	&-button.accept {
		margin-left: 5px;
	}
}
