@import "variables";

// Miscellaneous overrides
.navbar {
	&-brand {
		@include from($tablet) {
			margin-right: 54px;
		}
	}
	&-menu {
		padding: 0;
		.navbar-item {
			padding: 18px;
			@include until($desktop) {
				border-bottom: 2px solid $fun-color-gray-light-transparency;
			}
		}
	}
}

.subtitle {
	display: inline-block;
	&:not(:last-child) {
		margin-bottom: 0;
	}
}

.form-input .subtitle {
	margin-top: $column-gap * 2;
}

.title + .form-input .subtitle {
	margin-top: 0;
}

.is-danger, .help {
	font-size: 1em;
}

.form-input.form-input__option-list, .form-input.form-input__horizontal-option-list  {
	margin-top: 18px;
}

.b-radio.radio {
	height: auto;
	width: 380px;
	@include from($tablet) {
		width: $fun-max-width;
	}
    border-bottom: 2px solid $fun-color-gray-light-transparency;
	align-items: flex-start;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
	&:hover {
		border-bottom: 2px solid $fun-color-gray-dark;
	}
	&.is-active {
		border-bottom: 2px solid $fun-color-primary;
		&:hover {
			border-bottom: 2px solid $fun-color-primary;
		}
	}
	+ .radio {
		margin-left: 0; /* Remove margin added by Buefy, since each button is on its own line */
	}
	.check {
		margin-top: 3px; // visually align the radio box with the label text
		font-size: 12px;
	}
	.control-label {
		padding-left: 18px;
	}
}

.b-checkbox.checkbox {
	align-items: flex-start;
	.control-label {
		padding-left: 18px;
	}
	input[type="checkbox"] + .check {
		border: 1px solid $fun-color-dark;
		margin-top: 2px; // visually align the checkbox with the label text
	}
}

/* Change dropdown caret */
.select:not(.is-multiple):not(.is-loading)::after {
	border-color: $fun-color-dark;
}

.input, .field {
	max-width: $fun-max-width;
}

.input {
	border-radius: 2px;
	font-size: 1rem;
	padding: 0 24px;
	line-height: 24px;
	width: 100%;
	height: 48px;

	&::-ms-clear {
		display: none;
	}
	&:active {
		background-color: $fun-color-primary-lightest;
	}
	&.is-large {
		font-size: 1rem;
		padding: 0 25px;
		line-height: 25px;
		width: 100%;
		height: 50px;
	}
	&-amount {
		text-align: right;
	}
	&.is-valid {
		background-color: $fun-color-bright;
		border-color: $fun-color-primary;
		box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
	}
	&.is-invalid {
		background-color: $fun-color-bright;
		border-color: $fun-color-error;
		border-bottom-width: 2px;
	}
}

.autocomplete {
	.dropdown-item {
		font-size: 1rem;
	}
}

button.is-main {
	height: 54px;
	font-size: 1em;
	font-weight: bold;
	width: 240px;
	border-radius: 0;
	@include until($tablet) {
		width: 100%;
	}
}

.button.is-loading {
	pointer-events: all;
}

button.is-low {
	height: 36px;
	font-size: 1em;
	font-weight: bold;
	width: 240px;
	border-radius: 2px;
}

.modal {
	&-card {
		background-color: $fun-color-bright;
		border: 2px solid $fun-color-gray-light-solid;
		border-radius: $radius;
		padding: 36px;
		overflow-y: auto;
		.icon.icon-size {
			float: right;
			padding: 0;
		}
	}
}
.address-modal {
	.modal {
		&-close {
			&:after, &:before {
				@include until($tablet) {
					background-color: $fun-color-dark;
				}
			}
		}
	}
}

a[disabled=disabled] {
    color: gray;
	cursor: default;
	&:hover {
		text-decoration: none;
	}
}

// Ensure footer always sticks to the bottom of the page
// by setting min-height of the root elements to 100vh
// and ensuring the main element is set to flex: 1
// When in doubt, it's probably a workaround to make something work in IE11 :D
body {
	display: flex;
	min-height: 100vh;
	.app-container {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		flex: 1;
	}
}
main {
	flex: 1 0 auto;
}
